.o-modalimage {
	&_container {
		flex: 1;
		min-height: calc(100vh - 200px);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&_tranform {
		flex: 1;
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	&_controlPanel {
		position: absolute;
		bottom: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		transform: translate(0, -10px);

		button {
			padding: 6px 12px;
			margin-right: 10px;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			cursor: pointer;
			border-radius: 5px;
		}
	}
}
